<p>Now, the main event! The ultimate test of human endurance, challenging you to surpass the limits of time itself!</p>

<h2>CAN YOU DESTROY ALL THE COOKIES BEFORE TIME RUNS OUT??</h2>

<canvas id="killingField" width="400" height="400" style="border:1px solid red" onclick="gameTime()" >
	
</canvas>

<script>
	var canvas = document.getElementById("killingField");
	var context = canvas.getContext("2d");
	var uninitiated = true;
	var winner = [false, false, false, false, false, false, false, false, false];
	var isWinner = false;
	
function gameTime() {
	canvas.addEventListener('click', function(e) {
		var canvasLeft = canvas.offsetLeft,
			canvasTop  = canvas.offsetTop;
		var pos = {
			x : e.pageX - canvasLeft, 
			y : e.pageY - canvasTop
		};
			var imgObj = new Image();
			imgObj.src = "/img/explosion.png";
		if (isWinner === true ) {
			console.log("we already have a winner");
			winnerCheck(winner);

		} else if (pos.x < 75 && pos.y <75) {
			winner[0] = true;
			winnerCheck(winner);
			context.drawImage(imgObj, pos.x - 50, pos.y - 50, 120, 120);
		} else if ((pos.x < 215 && pos.x > 155) && (pos.y < 75)) {
			winner[1] = true;
			winnerCheck(winner);
			context.drawImage(imgObj, pos.x - 50, pos.y - 50, 120, 120);
		} else if ((pos.x < 365 && pos.x > 305) && (pos.y < 75) ) {
			winner[2] = true;
			winnerCheck(winner);
			context.drawImage(imgObj, pos.x - 50, pos.y - 50, 120, 120);
		} else if ((pos.x < 75) && (pos.y < 215 && pos.y > 155)) {
			winner[3] = true;
			winnerCheck(winner);
			context.drawImage(imgObj, pos.x - 50, pos.y - 50, 120, 120);
		} else if ((pos.x < 215 && pos.x > 155)&& (pos.y < 215 && pos.y > 155)){
			winner[4] = true;
			winnerCheck(winner);
			context.drawImage(imgObj, pos.x - 50, pos.y - 50, 120, 120);
		} else if ((pos.x < 365 && pos.x > 305) && (pos.y < 215 && pos.y > 155)) {
			winner[5] = true;
			winnerCheck(winner);
			context.drawImage(imgObj, pos.x - 50, pos.y - 50, 120, 120);
		} else if ((pos.x < 75) && (pos.y < 365 && pos.y > 305)) {
			winner[6] = true;
			winnerCheck(winner);
			context.drawImage(imgObj, pos.x - 50, pos.y - 50, 120, 120);
		} else if ((pos.x < 215 && pos.x > 155) && (pos.y < 365 && pos.y > 305)) {
			winner[7] = true;
			winnerCheck(winner);
			context.drawImage(imgObj, pos.x - 50, pos.y - 50, 120, 120);
		} else if ((pos.x < 365 && pos.x > 305) && (pos.y < 365 && pos.y > 305)) {
			winner[8] = true;
			winnerCheck(winner);
			context.drawImage(imgObj, pos.x - 50, pos.y - 50, 120, 120);
		} else  {
			console.log("MISSED!! OMG");
			winnerCheck(winner);
		}


		console.log(pos.x, pos.y);
	}, false );
	if (uninitiated) {
		uninitiated = false;
		
		// sets game timer to 8 seconds
		if (!uninitiated) {
			gameTimer(8);
		}

		console.log("function known as gameTime is hereby running");
		// Create the cookies
		var img = new Image();
		img.onload = function() {
			context.drawImage(img, 0, 0, 75, 75);
			context.drawImage(img, 0, 150, 75, 75);
			context.drawImage(img, 0, 300, 75, 75);
			context.drawImage(img, 150, 0, 75, 75);
			context.drawImage(img, 300, 0, 75, 75);
			context.drawImage(img, 150, 150, 75, 75);
			context.drawImage(img, 150, 300, 75, 75);
			context.drawImage(img, 300, 150, 75, 75);
			context.drawImage(img, 300, 300, 75, 75);
		};
		img.src = "/img/Fortune-Cookie.png";
	} 
} 

function winnerCheck(array) {
	for (var i = 0; i < winner.length; i++){
		if (array[i] === false ) {
			console.log("no winner yet :-(");
				break;
		} else if (i == 8){
			console.log("There's a Winner, and it is you!");
		}
	}
}

function gameTimer(num) {
	num = num * 1000;
	setTimeout(gameOver, num);
	console.log("game timer has been started");
}

function gameOver() {
	console.log("game is over! sorry charlie");
}



</script>