<h1>LIST OF MOTHERFUCKERS</h1>

<ol>
	<% @users.each do |user| %>
		<li>
			<%= user.user_name %>
			<ul>
				<li><%= user.email %></li>
				<li><%= user.score %></li>
					<%= user.password_digest %>
			</ul>
		</li>
	<% end %>
</ol>

<form>
	
</form>