<% if current_user %>
	<div id="logout">
		<button><%= link_to "X", logout_path, method: :delete %></button>
	</div>
<% end %>
<div id="navbar">
  <% if (current_user) %>
  <a href="/users/<%= current_user.id %>"><button class="navBtn btn1">Profile</button></a>
  <% else %>
  <a href="/sign-in"><button class="navBtn btn1">Sign-in</button></a>
  <% end %>
  <a href="/" onclick="window.location.pathname='/'"><button class="navBtn btn2">Fortune Cookie</button></a>
  <a href="/game"><button class="navBtn btn3">Game</button></a>
</div>
