<div id="logout">
  <button>X</button>
</div>

<div id="navbar">
  <a href="/users/<%= current_user.id %>"><button class="navBtn btn1">Profile</button></a>
  <a href="#"><button class="navBtn btn2">High Scorez</button></a>
  <a href="/game"><button class="navBtn btn3">Game</button></a>
</div>
